<section class="relative section1">
    <img class="cave" src="../../assets/img/cave2.jpg">
    <div class="grid w-4/6 gap-20 pl-6 ml-auto mr-auto mt-72 h-fit">
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
        <fam-option-card [optionName]="'Horror'" [optionImage]="'../../assets/genreImages/horror.jpg'"></fam-option-card>
    </div>
</section>


