.background {
    position:relative;
    width: 50vw;
    height: 100vh; 
    left: 28%;    
}
.filmBox {
    background-color: rgba(0, 0, 0, 0.6);
    transition: border-width 0.2s ease-in-out;
}

.filmBox:hover {
    cursor: pointer;
    border-width: 0.45vh;
    border-color: white;
}

.errorText {
    font-family: 'capture';
    color: #86ffd8;
}