
div::-webkit-scrollbar {
    width: 1vw; /* Adjust the width of the scrollbar */
    height: 2vh; /* Adjust the height for horizontal scrollbars */
}
div::-webkit-scrollbar-thumb {
    background-color: rgb(74, 77, 77);/* Dark grey color for the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
    border: 2px solid #2e2e2e; /* Dark border for contrast */
}

div::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
    border-radius: 5px;
}

div::-webkit-scrollbar-thumb:hover {
    background-color:#86ffd8; /* Slightly lighter grey when hovered */
}

.background {
    position:relative;
    width: 50vw;
    height: 100vh; 
    left: 28%;    
}
.filmBox {
    background-color: rgba(0, 0, 0, 0.6);
    transition: border-width 0.2s ease-in-out;
}

.filmBox:hover {
    cursor: pointer;
    border-width: 0.45vh;
    border-color: white;
}

.errorText {
    font-family: 'capture';
    color: #86ffd8;
}