
.backScreen {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 400vh;
}

.fakeDiv {
    width: 100vw;
    height: 400vh;   
}

.descriptionBox {
    top: calc(var(--scrollTop) + var(--index) * 14.3);
    border: none;
    border-top: 0.3vh #069266 solid;
    border-bottom: 0.3vh #069266 solid;
    height: 46.85rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.ratingSection, h1 {
    font-family: 'capture'
}


.rating::after {
    content: '';
    background: url("../../../../assets/img/star.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display:inline-block;
    margin-left: 0.5vh;
    width: 4rem;
    height: 2.5rem;
}


